body {
  background-color: rgb(243, 255, 173);
}

hr {
  border-color: gray;
  border-style: dotted none none;
  border-width: 5px;
  /* width: 5%; */
}

h3 {
  color: #66bfbf;
}

h1 {
  color: #66bfbf;
}

.circular {
  border-radius: 100%;
}

.circular:hover {
  border-radius: 0%;
}